
@{
    ViewBag.Title = "更改密码";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">系统管理</a>
                </li>
                <li class="active">更改密码</li>
            </ul>

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    @*<span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>*@
                </form>
            </div>
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-sm-6">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header green lighter bigger">
                                    <i class="ace-icon fa fa-users blue"></i>
                                    更改密码
                                </h4>

                                <div class="space-6"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">当前密码</label>
                                    <div class="col-sm-9">
                                        <span class="block input-icon input-icon-right" style="">
                                            <input id="oldpassword" type="password" class="form-control" />
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-24"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">新密码</label>
                                    <div class="col-sm-9">
                                        <span class="block input-icon input-icon-right" style="">
                                            <input id="newpassword" type="password" class="form-control" />
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-24"></div>
                                <div class="space-24"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">确认密码</label>
                                    <div class="col-sm-9">
                                        <span class="block input-icon input-icon-right" style="">
                                            <input id="agpassword" type="password" class="form-control" />
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-24"></div>
                                <div class="space-24"></div>
                                <div class="clearfix">
                                    @*<button type="reset" class="width-30 pull-left btn btn-sm">
                                            <i class="ace-icon fa fa-refresh"></i>
                                            <span class="bigger-110">重置</span>
                                        </button>*@

                                    <button type="button" class="width-30 btn btn-sm btn-success" onclick="ModifyPassword()">
                                        <span class="bigger-110">提交</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function ModifyPassword() {
            var oldpassword = $("#oldpassword").val().trim();
            var newpassword = $("#newpassword").val().trim();
            var agpassword = $("#agpassword").val().trim();
            if (oldpassword == "" || oldpassword == undefined) {
                alert("请输入当前密码！");
                return;
            }
            if (newpassword == "" || newpassword == undefined) {
                alert("请输入新密码！");
                return;
            }
            if (agpassword == "" || agpassword == undefined) {
                alert("请输入确认密码！");
                return;
            }
            if (newpassword.length < 6 || newpassword.length < 6) {
                alert("新密码的长度至少为6个字符！");
                return;
            }
            if (newpassword != agpassword) {
                alert("两次密码不一致，请检查！");
                return;
            }
            var data = { "oldpassword": oldpassword, "newpassword": newpassword, "agpassword": agpassword }
            $.ajax({
                type: "Post",
                url: "/Account/ModifyPassword",
                dataType: "json",
                data: data,
                success: function (data) {
                    if (data.IsSuccess) {
                        alert(data.Msg);
                        window.location.href = "/Home";
                        //window.location = "/Home/Index";
                    } else {
                        alert(data.Msg);
                    }

                }
            });
        }
    </script>
}