
@{
    ViewBag.Title = "无人机设备信息编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/assets/js/layout/jquery.layout.js"></script>
<script src="~/assets/js/jqgrid/jqgrid.min.js"></script>
<script src="~/assets/js/jqgrid/grid.locale-cn.js"></script>

<script>
    var keyValue = $.request("keyValue");

    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/UavData/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {

                    $("#form1").formSerialize(data);
                   
                }
            });
        }
    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/UavData/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {

               // 刷新父页面
                window.parent.location.reload();
            }
        })
    }

    function upLoadImg(file) {
        $.ajaxFileUpload({
            url: '/UavData/Upload',
            secureuri: false,
            fileElementId: 'imgfile',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess) {
                    $("#ImgPath").val(data.ResultValue);
                    previewImage(file);
                } else {
                    alert(data.Msg);
                }
            },
            error: function (data, status, e) {
                alert(e);
            }
        });
        return false;
    }
    function previewImage(file) {
        var MAXWIDTH = 200;
        var MAXHEIGHT = 100;
        var div = document.getElementById('preview');
        if (file.files && file.files[0]) {
            div.innerHTML = '<img id=bPic>';
            var img = document.getElementById('bPic');
            console.log(img);
            img.onload = function () {
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width = rect.width;
                img.height = rect.height;
                img.style.marginLeft = rect.left + 'px';
                img.style.marginTop = rect.top + 'px';
            }
            var reader = new FileReader();
            reader.onload = function (evt) { img.src = evt.target.result; }
            reader.readAsDataURL(file.files[0]);
        }
        else {
            var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=bPic>';
            var img = document.getElementById('bPic');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            console.log(src);
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);
            div.innerHTML = "<div id=divhead style='width:" + rect.width + "px;height:" + rect.height + "px;margin-top:" + rect.top + "px;margin-left:" + rect.left + "px;" + sFilter + src + "\"'></div>";
        }
    }
    function clacImgZoomParam(maxWidth, maxHeight, width, height) {
        var param = { top: 0, left: 0, width: width, height: height };
        if (width > maxWidth || height > maxHeight) {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;
            if (rateWidth > rateHeight) {
                param.width = maxWidth;
                param.height = Math.round(height / rateWidth);
            } else {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }
        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

</script>


<form id="form1" class="form-horizontal" method="post">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">无人机信息表</a></li>
        </ul>

        <div style="padding-top: 20px; margin-right: 30px;">
            <div class="row-fluid">
                <div class="span8">
                    <fieldset>

                        <div class="control-group formSep">
                            <div class="formTitle">无人机序列号</div>
                            <div class="formValue">
                                <input id="UavSerialNO" name="UavSerialNO" type="text" class="form-control required" placeholder="请输入无人机序列号" />
                            </div>
                        </div>
                        <div class="control-group formSep">
                            <div class="formTitle">工作状态</div>
                            <div  class="formValue">
                                <select data-val="true" data-val-required="WorkState 字段是必需的。" id="WorkState" name="WorkState" class="form-control required">
                                    <option value="0">巡检</option>
                                    <option value="1">空闲</option>
                                    <option value="2">故障</option>
                                </select>
                            </div>
                          

                            @*<div class="formValue">

                                <input id="WorkState" name="WorkState" type="text" class="form-control required" placeholder="请输入工作状态" />
                            </div>*@
                        </div>

                        <div class="control-group formSep">
                            <label for="ImgPath" class="col-sm-4 control-label">插入图片:</label>
                            <div class="formValue">
                                <input type="text" class="form-control" id="ImgPath" placeholder="插入图片">
                                <div class="control-group formSep">
                                    <label for="trueName" class="control-label">
                                        选择图片
                                    </label>
                                    <div class="controls">
                                        <input type="file" id="imgfile" name="postFile" onchange="upLoadImg(this)" />
                                    </div>
                                </div>
                                <div class="control-group formSep">
                                    <label for="trueName" class="control-label">
                                        预览
                                    </label>
                                    <div class="controls">
                                        <div id="preview">
                                            <img id="bPic" width="200" height="100" border="0" alt='' src='' />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="control-group formSep">
                            <div class="formTitle">出厂日期</div>
                            <div class="formValue">
                                <input id="ProductDate" name="ProductDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss'})" />
                            </div>
                        </div>


                        <div class="control-group formSep">
                            <label for="remark" class="control-label">
                                备注
                            </label>
                            <div class="controls">
                                <textarea rows="4" name="Remark" id="Remark" class="input-xlarge" maxlength="200"></textarea>
                                <span class="help-block">最多输入200字</span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

