<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/framework-font.css" rel="stylesheet" />
    <link href="~/assets/css/framework-theme.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.1.1.min.js"></script>

    <script src="~/assets/js/bootstrap/bootstrap.js"></script>
    <link href="~/assets/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/js/wdtree/tree.js"></script>
    <link href="~/assets/js/wdtree/tree.css" rel="stylesheet" />
    <script src="~/assets/js/select2/select2.min.js"></script>
    <link href="~/assets/js/select2/select2.min.css" rel="stylesheet" />
    <script src="~/assets/js/wizard/wizard.js"></script>
    <link href="~/assets/js/wizard/wizard.css" rel="stylesheet" />
    <script src="~/assets/js/validate/jquery.validate.min.js"></script>

    <script src="~/assets/js/My97DatePicker/WdatePicker.js"></script>
    
    <link href="~/assets/css/framework-ui.css" rel="stylesheet" />
    <script src="~/assets/js/framework-ui.js"></script>
    <script src="~/assets/js/ajaxfileupload.js"></script>


</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
