
@{
    ViewBag.Title = "教研室信息管理";
}

@section Styles{
    <style>
        .content_flex {
            padding: 0 12px;
            display: flex;
        }

            .content_flex div {
                margin-right: 10px;
            }

        .fill_width {
            width: 100%;
        }
    </style>
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="menu-icon fa fa-database"></i>
                    <a href="#">教研室管理</a>
                </li>
                <li class="active">教研室信息管理</li>
            </ul><!-- /.breadcrumb -->

        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>教研室信息管理</h1>
            </div><!-- /.page-header -->
            <div class="row content_flex" style="margin-bottom:10px;">
                <!--<label class="col-sm-2 control-label no-padding-right" for="form-field-1">统计类型</label>-->
                <!--状态下拉菜单-->
                @*<div>
                        @Html.DropDownList("orderStatus", (List<SelectListItem>)ViewData["statusList"])
                    </div>*@
                <div>
                    <input id="search" placeholder="可搜索教研室名称" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    <label>时间：</label>从
                    <input id="startDate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:00:00' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;border-radius: 3px" />&nbsp;到
                    <input id="endDate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:00:00' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;border-radius: 3px" />
                    <button class="btn btn-primary btn-sm" onclick="selectClick()" style="margin-bottom:3px;">查询</button>

                    <button class="btn btn-primary btn-sm" style="margin-bottom:3px;" onclick="Add()">添加</button>
                    <button class="btn btn-primary btn-sm" style="margin-bottom:3px;" onclick="InputExcel()">导入</button>
                    @Html.ActionLink("下载文件模板", "DownLoad", null, new { @class = "btn btn-primary btn-sm", @style = "margin-bottom:3px;" })

                </div>
                @*<div class="col-sm-3">
                        <label>处理人</label>
                        <input id="createBy" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    </div>
                    <div class="col-sm-3">
                        <label>创建时间</label>
                        <input id="txtDate" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    </div>*@

            </div>
            <div class="row">
                <div class="col-xs-12">

                    <table id="menu-table"></table>

                    <div id="menu-pager"></div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div id="chart_AQI" style="width: 60%;height:300px;"></div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑教研室信息</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control" id="AuditOfficeId" placeholder="AuditOfficeId" style="display:none">

                        <label for="AuditOfficeName" class="col-sm-2 control-label">教研室名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="AuditOfficeName" placeholder="教研室名称">
                        </div>
                        <label for="Remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Remark" placeholder="备注">
                        </div>
                    </div>

                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveMenu()">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Excel导入</h4>
            </div>
            <div class="modal-body">
                <input name="file" class="btn btn-primary btn-sm" style="margin-bottom:3px;" type="file" id="file" onchange="AddCourse(this)" />
                @*@Html.ActionLink("下载Excel", "DownLoad", null, new { @class = "layui-btn  layui-btn-default" })*@

            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                @*<button type="button" class="btn btn-primary" onclick="saveMenu()">确认</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- page specific plugin scripts -->
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="~/incubator-echarts-4.6.0/dist/echarts.min.js"></script>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>


    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        var editFlag = "";
        jQuery(function ($) {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();

            });

            //状态栏下拉改变事件
            $('#orderStatus').change(function () {
                var orderStatus = $('#orderStatus').val();//状态值
                var pageIndex = $("#menu-table").getGridParam('page');//当前页
                var pageSize = $("#menu-table").getGridParam('rowNum');//页数
                var postData = { "orderStatus": orderStatus, "pageIndex": pageIndex == undefined ? 1 : pageIndex, "pageSize": pageSize == undefined ? 10 : pageSize };
                $("#menu-table").jqGrid('setGridParam', {
                    datatype: 'json',
                    postData: postData, //发送数据
                    page: 1
                }).trigger("reloadGrid"); //重新载入
            });
        });

        //刷新表格
        function loadSiteDataList(data) {
            //var orderCodeId = $("#orderCode option:selected").val();
            //var createBy = $("#createBy option:selected").val();
            var search = $("#search").val();
            var createBy = $("#createBy").val();
            var txtDate = $("#txtDate").val();
            //获取查询时间
            var start = $("#startDate").val();
            var end = $("#endDate").val();

            var pageIndex = $("#menu-table").getGridParam('page');//当前页
            var pageSize = $("#menu-table").getGridParam('rowNum');//页数
            var postData = {
                "search": search,
                "pageIndex": pageIndex == undefined ? 1 : pageIndex,
                "pageSize": pageSize == undefined ? 10 : pageSize,
                "start": start,
                "end": end
            };

            //var postData = { "orderCodeId": orderCodeId, "createBy": createBy, "txtDate": txtDate, "pageIndex": pageIndex == undefined ? 1 : pageIndex, "pageSize": pageSize == undefined ? 10 : pageSize };
            $("#menu-table").jqGrid('setGridParam', {
                datatype: 'json',
                postData: postData, //发送数据
                page: 1
            }).trigger("reloadGrid"); //重新载入


        };

        //获取url参数
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return "";
        }

        jQuery(function ($) {
            var grid_selector = "#menu-table";
            var pager_selector = "#menu-pager";
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            })

            //resize on sidebar collapse/expand
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 20);
                }
            })

            //获取任务状态参数
            //var status = getQueryVariable("status");
            //操作栏按钮
            var buttonFormatter = function (value, grid, rows, state) {
                //h = "<button onclick=\"redirectUrl('/Order/Edit?OrderCode=" + rows.OrderCode + "')\">详情</button>";
                //h = "<button><a href='/Order/Edit?OrderCode=" + rows.OrderCode + "' style='color:#000;text-decoration:none;'>详情</a></button>";
                //console.log(rows);
                g = "<button onclick=\"editMenu('" + grid.rowId + "','" + rows + "' )\" >修改</button>";
                h = "<button onclick=\"deleteMenu('" + grid.rowId + "','" + rows.AuditOfficeId + "')\">删除</button>";
                return g + h;
            }

            jQuery(grid_selector).jqGrid({
                type: 'Get',
                url: '/AuditOffice/GetAuditOffices',
                data: [],
                postData: {
                    "orderStatus": "1"
                },
                datatype: "json",
                caption: "教研室列表查询",
                height: "100%",
                width: "100%",
                colNames: ["序号", "ID", "教研室编号", "教研室名称", "备注", "操作"],
                colModel: [//hidden: true
                    { name: 'RowNo', index: 'RowNo', width: 40 },
                    { name: "AuditOfficeId", index: "AuditOfficeId", width: 90, sorttype: "int", hidden: true },
                    { name: 'AuditOfficeCode', index: 'AuditOfficeCode', width: 120, sortable: true, editable: false },
                    { name: 'AuditOfficeName', index: 'AuditOfficeName', width: 120, sortable: true, editable: false },  
                    { name: 'Remark', index: 'Remark', width: 150, editable: true, sortable: true },
                    {
                        name: 'myac', index: '', width: 110, fixed: true, sortable: false, resize: false,
                        formatter: buttonFormatter

                    }
                ],
                viewrecords: true,//是否显示总记录数
                sortname: "CreateTime", //默认的排序字段
                sortorder: "desc",
                rowNum: 10,
                rowList: [10, 20, 30],
                recordtext: "从{0}到{1} 条，共 {2}条记录",
                pgtext: "第{0} 页，共 {1} 页",
                emptyrecords: "没有数据",
                loadtext: "加载中...",
                jsonReader: {
                    root: "rows",
                    repeatitems: false,
                    page: "page",
                    total: "pageCount",
                    records: "total"
                },
                pager: pager_selector,
                altRows: true,
                //toppager: true,
                multiselect: false,
                //multikey: "ctrlKey",
                multiboxonly: true,
                //editurl: "./dummy.php",//nothing is saved
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },
                onSelectRow: function (id) {

                }
            });





            $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size
            function aceSwitch(cellvalue, options, cell) {
                setTimeout(function () {
                    $(cell).find('input[type=checkbox]')
                        .addClass('ace ace-switch ace-switch-5')
                        .after('<span class="lbl"></span>');
                }, 0);
            }
            jQuery(grid_selector)
                .navGrid(pager_selector, { edit: false, add: false, del: false, search: false });


            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {
                var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                })
            }

            function enableTooltips(table) {
                $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                $(table).find('.ui-pg-div').tooltip({ container: 'body' });
            }

            //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

            $(document).one('ajaxloadstart.page', function (e) {
                $.jgrid.gridDestroy(grid_selector);
                $('.ui-jqdialog').remove();
            });
        });

        function selectClick() {
            loadSiteDataList();
        }


    </script>


    <script type="text/javascript">




        function Add() {
            //清空输入框
            $('#AuditOfficeId').val("");
            $('#AuditOfficeCode').val("");
            $('#AuditOfficeName').val("");
            $('#Rec_CreateTime').val("");
            $('#Rec_CreateBy').val("");
            $('#Rec_ModifyTime').val("");
            $('#Rec_ModifyBy').val("");
            $('#Remark').val("");
            editFlag = "Add";
            //打开模态框
            $('#myModal').modal('show');
        }

        //编辑菜单
        function editMenu(id) {
            debugger;
            //获取编辑行的数据
            var auditoffice_data = jQuery("#menu-table").jqGrid('getRowData', id);
            editFlag = "Edit";
            console.log(auditoffice_data);
            //获取编辑任务相关数据
            $.ajax({
                type: "GET",
                url: "/AuditOffice/GetAuditOfficeByCode?auditofficeCode=" + auditoffice_data.AuditOfficeCode,
                dataType: "json",
                //data: { "ID": user_data.ID, "UserCode": user_data.UserCode, "UserName": user_data.UserName, "UserRoles": user_data.RoleName, "HireDate": user_data.HireDate, "Email": user_data.Email, "Addr": user_data.Addr, "opType": userID == "" ? "Add" : "modify" },
                success: function (data) {
                    debugger;
                    if (data.IsSuccess) {

                        var auditofficeInfo = data.ResultValue;
                        //设置之前数据为前显示的项
                        $('#AuditOfficeId').val(auditofficeInfo.AuditOfficeId);
                        $('#AuditOfficeCode').val(auditofficeInfo.AuditOfficeCode);
                        $('#AuditOfficeName').val(auditofficeInfo.AuditOfficeName);
                        $('#Rec_CreateTime').val(auditofficeInfo.Rec_CreateTime);
                        $('#Rec_CreateBy').val(auditofficeInfo.Rec_CreateBy);
                        $('#Rec_ModifyTime').val(auditofficeInfo.Rec_ModifyTime);
                        $('#Rec_ModifyBy').val(auditofficeInfo.Rec_ModifyBy);
                        $('#Remark').val(auditofficeInfo.Remark);

                    } else {
                        alert(data.Msg);
                    }
                }
            });
            //打开模态框
            $('#myModal').modal('show')


        }

        function InputExcel() {
            //打开模态框
            $('#myModal2').modal('show');
        }

        //删除菜单
        function deleteMenu(rowId, auditofficeId) {

            console.log(rowId, auditofficeId);

            if (confirm('确认删除吗') == true) {
                $.ajax({
                    type: "POST",
                    url: "/Audit/Delete",
                    dataType: "json",
                    data: { "AuditOfficeId": auditofficeId },
                    success: function (data) {
                        if (data.IsSuccess) {
                            alert("操作成功！");
                            //隐藏模态框
                            $('#myModal').modal('hide');
                            //重新加载表格
                            loadSiteDataList();
                        } else {
                            alert(data.Msg);
                        }

                    }
                });
            } else {
                return;
            }
        }

        function saveMenu() {
            //debugger

            //获取提交数据
            var AuditOfficeId = $('#AuditOfficeId').val();
            var AuditOfficeCode = $('#AuditOfficeCode').val();
            var AuditOfficeName = $('#AuditOfficeName').val();
            var Rec_CreateTime = $('#Rec_CreateTime').val();
            var Rec_CreateBy = $('#Rec_CreateBy').val();
            var Rec_ModifyTime = $('#Rec_ModifyTime').val();
            var Rec_ModifyBy = $('#Rec_ModifyBy').val();
            var Remark = $('#Remark').val();



            $.ajax({
                type: "POST",
                url: "/AuditOffice/Submit",
                dataType: "json",
                data: { "AuditOfficeId": AuditOfficeId, "AuditOfficeCode": AuditOfficeCode, "AuditOfficeName": AuditOfficeName, "Rec_CreateTime": Rec_CreateTime, "Rec_CreateBy": Rec_CreateBy, "Rec_ModifyTime": Rec_ModifyTime, "Rec_ModifyBy": Rec_ModifyBy, "Remark": Remark, "editFlag": editFlag },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("操作成功！");
                        //隐藏模态框
                        $('#myModal').modal('hide');
                        //重新加载表格
                        loadSiteDataList();
                    } else {
                        alert(data.Msg);
                    }

                }
            });
        }

        //跳转页面
        function redirectUrl(url) {
            window.open(url, "_self");
        }

        //导入课程
        function AddCourse() {

            //$.ajaxFileUpload({
            //    url: '/Course/ExcelToUpload',
            //    secureuri: false,
            //    fileElementId: 'file',
            //    dataType: 'json',
            //    success: function (data) {
            //        if (data.IsSuccess) {
            //            alert(data.ResultValue);
            //        } else {
            //            alert(data.Msg);
            //        }
            //    },
            //    error: function (data, status, e) {
            //        alert(e);
            //    }
            //});
            //return false;

            var formData = new FormData();
            var filename = $("#file")[0].files[0];
            if (filename == null || filename == "") {
                swal("请选择要导入的文件");
                return;
            }
            if (filename != null) {
                formData.append('file', $("#file")[0].files[0]); //将文件转成二进制形式
                $.ajax({
                    type: "post",
                    url: "/AuditOffice/ExcelToUpload",//"/文件名/控制器名/控制器内方法"
                    async: false,
                    contentType: false, //这个一定要写
                    processData: false, //这个也一定要写，不然会报错
                    data: formData,
                    dataType: 'json', //返回类型，有json，text，HTML。这里并没有jsonp格式，所以别妄想能用jsonp做跨域了。
                    success: function (data) {
                        //swal(data);
                        if (data.IsSuccess) {
                            alert("导入成功"); //data.ResultValue
                            //重新刷新当前页面
                            window.location.reload();
                        } else {
                            alert(data.Msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown, data) {

                        swal(errorThrown);

                    }
                });
            } else {

            }
        }
    </script>
}
