@{
    Layout = null;
}
@{
    ViewBag.Title = "蜂群无人机集群作战系统";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>蜂群无人机集群作战系统</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-3.3.7-dist/css/style.css" />
    <style>
        html,
        body {
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #000000;
            background-image: url(../../image/bj02.png);
            background-size: cover;
        }

        .roboinfo {
            width: 99%;
            height: 98%;
            margin: 0 auto;
            background-image: url(../../Content/static/img/warcraft.31b0f82f.jpg);
            margin: 0.5% auto;
            background-size: 100% 100%;
        }

        .detailinfo {
            width: 190px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 20px;
        }

        .engstate {
        }

        .serial {
            width: 75px;
            border: 1px solid #00F5FC;
            background-color: rgba(0, 40, 40, 0.6);
        }

        #setting {
            border: 1px solid #00F5FC;
            border-radius: 10px;
            background: rgba(0, 231, 231, 0.6);
        }
        /*发动机状态 engstate */
        /*电量 quantity */
        .quantity {
            width: 80%;
            /*background-color: #08CDD3;*/
        }
        /*结构完好度 commence */
        /*截弹量 cutcap */
        /*刀浆可用性 availability */
        /*综合评估建设 assess */

        /*滚动条开始*/
        .robodetailt {
            width: 100%;
            height: 80%;
            margin: 5px auto;
            overflow-y: scroll
        }
            .robodetailt::-webkit-scrollbar {
                color: #0000FF;
                border: 1px solid #05B7DE;
                background-color: #152043;
            }

            .robodetailt::-webkit-scrollbar-button {
                color: #05B7DE;
                /*border: none;*/
                background: url(../../image/down.png) !important;
            }
                .robodetailt::-webkit-scrollbar-button:vertical:increment {
                    background: url(../../image/up.png) !important;
                }

            .robodetailt::-webkit-scrollbar-track {
                width: 10px;
                border: 1px solid #05B7DE;
                border-top: none;
                border-bottom: none;
                background-color: #152043;
            }

            .robodetailt::-webkit-scrollbar-thumb {
                background-color: #09699E;
                border: 1px solid #05B7DE;
            }

            .robodetailt::-webkit-scrollbar-track-piece {
                /* background-color: #13CE66; */
            }
        /*滚动条结束*/
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
</head>
<body>
    <div id="#app" style="height:100%;overflow:hidden">
        <div class="row nav">
            <div class="col-xs-3" style="height: 105px;" onclick="skip()">
                <img src="~/image/8998994.png" alt="Alternate Text" />
            </div>
            <div class="col-xs-6" style="height: 105px;">
                <div class="col-xs-offset-3 col-xs-7" style="height:70px;line-height:70px;margin:20px 140px;text-align:center;display:flex">
                    <div class="box_title col-xs-1" style="height: 70px;border-right: none;left:0;padding:0;position:absolute">
                    </div>
                    <div class="col-xs-10" style="width:100%;height: 60px;background: none;text-align:center">
                        <span class="" style="font-size: 28px;">蜂群无人机集群作战系统</span>
                    </div>
                    <div class="box_title col-xs-1" style="height: 70px;border-left: none;right:0;position:absolute">
                    </div>
                </div>
            </div>
            <div class="col-xs-3" style="height: 105px;">
                <span id="dateTime" class="col-xs-offset-1" style="font-size:20px;line-height:110px;"></span>
                <a href="" class=" btn btn-danger col-xs-offset-1 " id="logout" style="">退出系统</a>
                <a href="#" id="setting" class="btn col-xs-offset-1" onclick="tosetting()" style="">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
        <div style="width: 100%;height: 8px;background: linear-gradient(to right,#050F2A,#00F5FC,#050F2A);"></div>
        <div class="robodetailt" style="">
            <div class="" style="width:96%;height:80%;margin:0 auto;">
                <div style="display: flex;margin:10px auto;">
                    <div class="box_title detailinfo" style="width:75px;">
                        <span>序号</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>发动机状态</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>电量</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>结构完好度</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>截弹量</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>刀浆可用性</span>
                    </div>
                    <div class="box_title detailinfo" style="width:190px;margin-left:15px">
                        <span>综合评估建设</span>
                    </div>
                </div>

                <div class="testTable" style="width:100%;height:100%;position:relative;" >

                </div>

            </div>
        </div>


    </div>


    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
<script type="text/javascript">
    window.onload = function () {
        rendering();
        formatDate();
        decideintact();

    }
    //获取日期
    function formatDate() {
        let date = new Date();
        let year = date.getFullYear(); // 年
        let month = date.getMonth() + 1; // 月
        let day = date.getDate(); // 日
        var dateTime = document.getElementById('dateTime');
        dateTime.innerHTML = year + "/" + month + "/" + day;
    }
    //判断是否完好 附上背景颜色
    function decideintact() {
        let engstate = document.getElementsByClassName('engstate')
        let assess = document.getElementsByClassName('assess')
        //console.log(engstate)
        //console.log(assess)
        for (let i = 0; i < assess.length; i++) {
            //发动机状态
            if (engstate[i].children[0].innerHTML == "完好") {
                engstate[i].className = engstate[i].className + " intact";
            } else if (engstate[i].children[0].innerHTML == "故障") {
                engstate[i].className = engstate[i].className + " unintact";
            }
            //综合评估建设
            if (assess[i].children[0].innerHTML == "继续作战") {
                assess[i].className = assess[i].className + " intact";
            } else if (assess[i].children[0].innerHTML == "建议返航") {
                assess[i].className = assess[i].className + " unintact";
            }
        }

    }

    function skip() {
        window.location = "/Home/Index";
    }
    function tosetting() {
        window.location = "/Map/Index";
    }

    //测试页面循环表格用
    function rendering() {
        var orderBody = '';
        let tab = sidenav;
        $.each(tab, function (index, val) {
            orderBody += '<div style="display:flex;margin:5px auto;">\
                <div class="detailinfo serial" style = "">\
                    <span>' + val.num + '</span>\
                </div >\
                <div class="engstate detailinfo" style="margin-left:15px;">\
                    <span class="p_engstate">' + val.engstate + '</span>\
                </div>\
                <div class="progress_detailt detailinfo" style="background-color: rgba(0, 40, 40, 0.6);">\
                    <div class="skills quantity" style="width:' + val.quantity + '%"></div>\
                    <div style="">\
                        <span>' + val.quantity + '%</span>\
                    </div>\
                </div>\
                <div class="progress_detailt detailinfo" style="background-color: rgba(0, 40, 40, 0.6);">\
                    <div class="skills quantity" style="width:' + val.commence + '%"></div>\
                    <div style="">\
                        <span>' + val.commence + '%</span>\
                    </div>\
                </div>\
                <div class="progress_detailt detailinfo" style="background-color: rgba(0, 40, 40, 0.6);">\
                    <div class="skills quantity" style="width:' + val.cutcap + '%"></div>\
                    <div style="">\
                        <span>' + val.cutcap + '%</span>\
                    </div>\
                </div>\
                <div class="progress_detailt detailinfo" style="background-color: rgba(0, 40, 40, 0.6);">\
                    <div class="skills quantity" style="width:' + val.availability + '%"></div>\
                    <div style="">\
                        <span>' + val.availability + '%</span>\
                    </div>\
                </div>\
                <div class="assess detailinfo" style="margin-left:15px;">\
                    <span>' + val.assess + '</span></div></div >'
        })
        $('.testTable').append(orderBody);
    }
</script>
<script>
    var sidenav = [
        {
            num: '01',
            machinetype: 'warcraft01.jpg',
            engstate: '完好',
            quantity: '80.5',
            commence: '70.9',
            cutcap: '70.1',
            availability: '70.9',
            assess: '继续作战',
        },
        {
            num: '02',
            machinetype: 'warcraft02.jpg',
            engstate: '故障',
            quantity: '70',
            commence: '20',
            cutcap: '90',
            availability: '50',
            assess: '建议返航',
        },
        {
            num: '03',
            machinetype: 'warcraft03.jpg',
            engstate: '完好',
            quantity: '60',
            commence: '70',
            cutcap: '80',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '04',
            machinetype: 'warcraft04.jpg',
            engstate: '故障',
            quantity: '50',
            commence: '10',
            cutcap: '70',
            availability: '70',
            assess: '建议返航',
        },
        {
            num: '05',
            machinetype: 'warcraft05.jpg',
            engstate: '完好',
            quantity: '40',
            commence: '70',
            cutcap: '80',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '06',
            machinetype: 'warcraft06.jpg',
            engstate: '故障',
            quantity: '80',
            commence: '70',
            cutcap: '70',
            availability: '70',
            assess: '建议返航',
        },
        {
            num: '07',
            machinetype: 'warcraft07.jpg',
            engstate: '完好',
            quantity: '80',
            commence: '40',
            cutcap: '70',
            availability: '40',
            assess: '继续作战',
        },
        {
            num: '08',
            machinetype: 'warcraft08.jpg',
            engstate: '故障',
            quantity: '40',
            commence: '70',
            cutcap: '40',
            availability: '70',
            assess: '建议返航',
        },
        {
            num: '09',
            machinetype: 'warcraft09.jpg',
            engstate: '完好',
            quantity: '60',
            commence: '70',
            cutcap: '50',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '10',
            machinetype: 'warcraft10.jpg',
            engstate: '故障',
            quantity: '80',
            commence: '60',
            cutcap: '70',
            availability: '80',
            assess: '建议返航',
        },
        {
            num: '11',
            machinetype: 'warcraft11.jpg',
            engstate: '完好',
            quantity: '80',
            commence: '70',
            cutcap: '70',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '12',
            machinetype: 'warcraft12.jpg',
            engstate: '故障',
            quantity: '70',
            commence: '40',
            cutcap: '70',
            availability: '20',
            assess: '建议返航',
        },
        {
            num: '13',
            machinetype: 'warcraft12.jpg',
            engstate: '故障',
            quantity: '60',
            commence: '50',
            cutcap: '60',
            availability: '40',
            assess: '建议返航',
        },
        {
            num: '14',
            machinetype: 'warcraft12.jpg',
            engstate: '故障',
            quantity: '90',
            commence: '80',
            cutcap: '70',
            availability: '50',
            assess: '建议返航',
        },
        {
            num: '15',
            machinetype: 'warcraft05.jpg',
            engstate: '完好',
            quantity: '40',
            commence: '70',
            cutcap: '80',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '16',
            machinetype: 'warcraft06.jpg',
            engstate: '故障',
            quantity: '80',
            commence: '70',
            cutcap: '70',
            availability: '70',
            assess: '建议返航',
        },
        {
            num: '17',
            machinetype: 'warcraft07.jpg',
            engstate: '完好',
            quantity: '80',
            commence: '40',
            cutcap: '70',
            availability: '40',
            assess: '继续作战',
        },
        {
            num: '18',
            machinetype: 'warcraft08.jpg',
            engstate: '故障',
            quantity: '40',
            commence: '70',
            cutcap: '40',
            availability: '70',
            assess: '建议返航',
        },
        {
            num: '19',
            machinetype: 'warcraft09.jpg',
            engstate: '完好',
            quantity: '60',
            commence: '70',
            cutcap: '50',
            availability: '70',
            assess: '继续作战',
        },
        {
            num: '20',
            machinetype: 'warcraft10.jpg',
            engstate: '故障',
            quantity: '80',
            commence: '60',
            cutcap: '70',
            availability: '80',
            assess: '建议返航',
        }
    ]
</script>