
@{
    ViewBag.Title = "班级信息管理";
}

@section Styles{
    <style>
        .content_flex {
            padding: 0 12px;
            display: flex;
        }

            .content_flex div {
                margin-right: 10px;
            }

        .fill_width {
            width: 100%;
        }
    </style>
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="menu-icon fa fa-database"></i>
                    <a href="#">班级信息管理</a>
                </li>
                <li class="active">班级信息管理</li>
            </ul><!-- /.breadcrumb -->

        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>班级信息管理</h1>
            </div><!-- /.page-header -->
            <div class="row content_flex" style="margin-bottom:10px;">
                <!--<label class="col-sm-2 control-label no-padding-right" for="form-field-1">统计类型</label>-->
                <!--状态下拉菜单-->
                @*<div>
                        @Html.DropDownList("orderStatus", (List<SelectListItem>)ViewData["statusList"])
                    </div>*@
                <div>
                    <input id="search" placeholder="可搜索班级名称" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    <label>时间：</label>从
                    <input id="startDate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:00:00' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;border-radius: 3px" />&nbsp;到
                    <input id="endDate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:00:00' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;border-radius: 3px" />
                    <button class="btn btn-primary btn-sm" onclick="selectClick()" style="margin-bottom:3px;">查询</button>

                    <button class="btn btn-primary btn-sm" style="margin-bottom:3px;" onclick="Add()">添加</button>
                </div>
                @*<div class="col-sm-3">
                        <label>处理人</label>
                        <input id="createBy" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    </div>
                    <div class="col-sm-3">
                        <label>创建时间</label>
                        <input id="txtDate" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd' });" style="width: 187px;color:#858585;padding: 3px 4px;height: 30px;border:1px solid #D5D5D5;" />
                    </div>*@

            </div>
            <div class="row">
                <div class="col-xs-12">

                    <table id="menu-table"></table>

                    <div id="menu-pager"></div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div id="chart_AQI" style="width: 60%;height:300px;"></div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<!-- 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑班级信息</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control" id="ClassInfoId" placeholder="ClassInfoId" style="display:none">
                        <input type="text" class="form-control" id="CourseTypeId" placeholder="CourseTypeId" style="display:none">
                        <label for="ClassCode" class="col-sm-2 control-label">班级编号:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ClassCode" placeholder="班级编号">
                        </div>
                        <label for="ClassName" class="col-sm-2 control-label">班级名称:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ClassName" placeholder="班级名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Remark" placeholder="备注">
                        </div>

                        <label for="Rec_CreateBy" class="col-sm-2 control-label">创建人:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Rec_CreateBy" placeholder="创建人">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="Rec_ModifyBy" class="col-sm-2 control-label">修改人:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Rec_ModifyBy" placeholder="修改人">
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveMenu()">确认</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- page specific plugin scripts -->
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="~/incubator-echarts-4.6.0/dist/echarts.min.js"></script>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        var editFlag = "";
        jQuery(function ($) {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();

            });

            //状态栏下拉改变事件
            $('#orderStatus').change(function () {
                var orderStatus = $('#orderStatus').val();//状态值
                var pageIndex = $("#menu-table").getGridParam('page');//当前页
                var pageSize = $("#menu-table").getGridParam('rowNum');//页数
                var postData = { "orderStatus": orderStatus, "pageIndex": pageIndex == undefined ? 1 : pageIndex, "pageSize": pageSize == undefined ? 10 : pageSize };
                $("#menu-table").jqGrid('setGridParam', {
                    datatype: 'json',
                    postData: postData, //发送数据
                    page: 1
                }).trigger("reloadGrid"); //重新载入
            });
        });

        //刷新表格
        function loadSiteDataList(data) {
            //var orderCodeId = $("#orderCode option:selected").val();
            //var createBy = $("#createBy option:selected").val();
            var search = $("#search").val();
            var createBy = $("#createBy").val();
            var txtDate = $("#txtDate").val();
            //获取查询时间
            var start = $("#startDate").val();
            var end = $("#endDate").val();

            var pageIndex = $("#menu-table").getGridParam('page');//当前页
            var pageSize = $("#menu-table").getGridParam('rowNum');//页数
            var postData = {
                "search": search,
                "pageIndex": pageIndex == undefined ? 1 : pageIndex,
                "pageSize": pageSize == undefined ? 10 : pageSize,
                "start": start,
                "end": end
            };

            //var postData = { "orderCodeId": orderCodeId, "createBy": createBy, "txtDate": txtDate, "pageIndex": pageIndex == undefined ? 1 : pageIndex, "pageSize": pageSize == undefined ? 10 : pageSize };
            $("#menu-table").jqGrid('setGridParam', {
                datatype: 'json',
                postData: postData, //发送数据
                page: 1
            }).trigger("reloadGrid"); //重新载入


        };

        //获取url参数
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return "";
        }

        jQuery(function ($) {
            var grid_selector = "#menu-table";
            var pager_selector = "#menu-pager";
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            })

            //resize on sidebar collapse/expand
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 20);
                }
            })

            //获取任务状态参数
            //var status = getQueryVariable("status");
            //操作栏按钮
            var buttonFormatter = function (value, grid, rows, state) {
                //h = "<button onclick=\"redirectUrl('/Order/Edit?OrderCode=" + rows.OrderCode + "')\">详情</button>";
                //h = "<button><a href='/Order/Edit?OrderCode=" + rows.OrderCode + "' style='color:#000;text-decoration:none;'>详情</a></button>";
                //console.log(rows);
                g = "<button onclick=\"editMenu('" + grid.rowId + "','" + rows + "' )\" >修改</button>";
                h = "<button onclick=\"deleteMenu('" + grid.rowId + "','" + rows.ClassInfoId + "')\">删除</button>";
                return g + h;
            }

            jQuery(grid_selector).jqGrid({
                type: 'Get',
                url: '/ClassInfo/GetClassInfo',
                data: [],
                postData: {
                    "orderStatus": "1"
                },
                datatype: "json",
                caption: "课程类别列表查询",
                height: "100%",
                width: "100%",
                colNames: ["序号", "ID", "班级编号", "班级名称", "备注", "创建时间", "操作"],
                colModel: [//hidden: true
                    { name: 'RowNo', index: 'RowNo', width: 40 },
                    { name: "ClassInfoId", index: "ClassInfoId", width: 90, sorttype: "int", hidden: true },
                    { name: 'ClassCode', index: 'ClassCode', width: 120, sortable: true, editable: false },
                    { name: 'ClassName', index: 'ClassName', width: 120, sortable: true, editable: false },
                    { name: 'Remark', index: 'Remark', width: 150, editable: true, sortable: true },
                    { name: 'Rec_CreateTime', index: 'Rec_CreateTime', width: 150, editable: true, sortable: true },
                    {
                        name: 'myac', index: '', width: 110, fixed: true, sortable: false, resize: false,
                        formatter: buttonFormatter

                    }
                ],
                viewrecords: true,//是否显示总记录数
                sortname: "CreateTime", //默认的排序字段
                sortorder: "desc",
                rowNum: 10,
                rowList: [10, 20, 30],
                recordtext: "从{0}到{1} 条，共 {2}条记录",
                pgtext: "第{0} 页，共 {1} 页",
                emptyrecords: "没有数据",
                loadtext: "加载中...",
                jsonReader: {
                    root: "rows",
                    repeatitems: false,
                    page: "page",
                    total: "pageCount",
                    records: "total"
                },
                pager: pager_selector,
                altRows: true,
                //toppager: true,
                multiselect: false,
                //multikey: "ctrlKey",
                multiboxonly: true,
                //editurl: "./dummy.php",//nothing is saved
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },
                onSelectRow: function (id) {

                }
            });





            $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

            jQuery(grid_selector)
                .navGrid(pager_selector, { edit: false, add: false, del: false, search: false });


            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {
                var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                })
            }

            function enableTooltips(table) {
                $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                $(table).find('.ui-pg-div').tooltip({ container: 'body' });
            }

            //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

            $(document).one('ajaxloadstart.page', function (e) {
                $.jgrid.gridDestroy(grid_selector);
                $('.ui-jqdialog').remove();
            });
        });

        function selectClick() {
            loadSiteDataList();
        }



    </script>

    <script type="text/javascript">

        function Add() {
            //清空输入框
            $('#ClassInfoId').val("");
            $('#ClassCode').val("");
            $('#ClassName').val("");
            $('#Rec_ModifyBy').val("");
            $('#Rec_CreateBy').val("");
            $('#Remark').val("");
            editFlag = "Add";
            //打开模态框
            $('#myModal').modal('show');
        }

        //编辑菜单
        function editMenu(id) {
            debugger;
            //获取编辑行的数据
            var course_data = jQuery("#menu-table").jqGrid('getRowData', id);
            editFlag = "Edit";
            console.log(course_data);
            //获取编辑任务相关数据
            $.ajax({
                type: "GET",
                url: "/ClassInfo/GetClassByCode?classCode=" + course_data.ClassCode,
                dataType: "json",
                //data: { "ID": user_data.ID, "UserCode": user_data.UserCode, "UserName": user_data.UserName, "UserRoles": user_data.RoleName, "HireDate": user_data.HireDate, "Email": user_data.Email, "Addr": user_data.Addr, "opType": userID == "" ? "Add" : "modify" },
                success: function (data) {
                    debugger;
                    if (data.IsSuccess) {

                        var courseInfo = data.ResultValue;
                        //设置之前数据为前显示的项
                        $('#ClassInfoId').val(courseInfo.ClassInfoId);
                        $('#ClassCode').val(courseInfo.ClassCode);
                        $('#ClassName').val(courseInfo.ClassName);
                        $('#Rec_CreateBy').val(courseInfo.Rec_CreateBy);
                        $('#Rec_ModifyBy').val(courseInfo.Rec_ModifyBy);
                        $('#Remark').val(courseInfo.Remark);

                    } else {
                        alert(data.Msg);
                    }
                }
            });
            //打开模态框
            $('#myModal').modal('show')


        }

        //删除菜单
        function deleteMenu(rowId, classInfoId) {

            console.log(rowId, classInfoId);

            if (confirm('确认删除吗') == true) {
                $.ajax({
                    type: "POST",
                    url: "/ClassInfo/DeleteClass",
                    dataType: "json",
                    data: { "ClassInfoId": classInfoId },
                    success: function (data) {
                        if (data.IsSuccess) {
                            alert("操作成功！");
                            //隐藏模态框
                            $('#myModal').modal('hide');
                            //重新加载表格
                            loadSiteDataList();
                        } else {
                            alert(data.Msg);
                        }

                    }
                });
            } else {
                return;
            }
        }


        function saveMenu() {
            debugger

            //获取提交数据
            var ClassInfoId = $('#ClassInfoId').val();
            var ClassCode = $('#ClassCode').val();
            var ClassName = $('#ClassName').val();
            var Rec_CreateBy = $('#Rec_CreateBy').val();
            var Remark = $('#Remark').val();
            var Rec_ModifyBy = $('#Rec_ModifyBy').val();



            $.ajax({
                type: "POST",
                url: "/ClassInfo/SubmitClass",
                dataType: "json",
                data: { "ClassInfoId": ClassInfoId, "ClassCode": ClassCode, "ClassName": ClassName, "Remark": Remark, "Rec_CreateBy": Rec_CreateBy ,"Rec_ModifyBy": Rec_ModifyBy, "editFlag": editFlag },
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("操作成功！");
                        //隐藏模态框
                        $('#myModal').modal('hide');
                        //重新加载表格
                        loadSiteDataList();
                    } else {
                        alert(data.Msg);
                    }

                }
            });
        }

        //跳转页面
        function redirectUrl(url) {
            window.open(url, "_self");
        }
    </script>
}
